<mat-nav-list>
  <div class="profile__card">
    <div class="header">
      <h2>somfuckinghin</h2>
      <h4>
        you're gonna piss off a lot of people when you start doing what's best
        for you
      </h4>
    </div>
    <img src="../../../../assets/images/img1.jpg" alt="somfuckinghin" />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active"
    >Dashboard</a
  >
  <a mat-list-item [routerLink]="['/posts']" routerLinkActive="list-item-active"
    >Posts</a
  >
  <a
    mat-list-item
    [routerLink]="['/articles']"
    routerLinkActive="list-item-active"
    >Articles</a
  >
  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a
    mat-list-item
    [routerLink]="['/contacts']"
    routerLinkActive="list-item-active"
    ><mat-icon>import_contacts</mat-icon>Contacts</a
  >
  <a
    mat-list-item
    [routerLink]="['/contacts']"
    routerLinkActive="list-item-active"
    ><mat-icon>contact_phone</mat-icon>Leads</a
  >
</mat-nav-list>
